
*{box-sizing:border-box; margin:10px;}
h1{text-align:center;color:black;margin-bottom: 80px;font-family:italic;font-size:50px;}


body{margin:0px;padding:0;}
section{color:black;height:200px;position:relative;background-color:#c0c0c0;margin:15px;width:100%;}
h2{border-left:1px black solid;border-bottom:1px solid black;float:right;position:absolute;right:-10px;top:-10px;font-family:italic;font-size:30px;}
h2.red{color:black;background-color:pink;}
h2.blue{color:white;background-color: red}
h2.green{color:black;background-color:orange;}
div{margin-top:50px;font-family:arial;font-size:18px;}
section.all{width:100%;}


@media(max-width:767px){section,section.all{width:100%;float:left;border:1px solid black;}}
@media(min-width:768px)and(max-width:991px){section{width:46%;float:left;border:1px solid black;}section.all{width:100%;float:left;border:1px solid black;}}

@media(min-width:992px){section,section.all{width:31%;float:left;border:1px solid black;}}


